* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  padding: 30px;
  background: #ededed;
  font-family: monospace;
}
#yay-no-balloons {
  color: #ff3300;
  font-size: 80px;
  text-align: center;
}
#Container {
  margin: 50px auto;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}
#Container > div {
  padding: 10px;
  padding-bottom: 5px;
}
#balloon-gallery div {
  background: #ff3300;
  height: 121px;
  width: 119px;
  color: #ff3300;
  font-size: 40px;
  font-family: sans-serif, arial;
  border-radius: 100%;
  margin: 10px;
  display: inline-block;
}
h1 {
  text-align: center;
  color: #08a3d9;
  text-transform: uppercase;
  font-size: 30px;
  color: #000380;
}
.btmColor {
  height: 121px;
  width: 119px;
  text-align: center;
  color: #ff3300;
  font-size: 40px;
  border-radius: 100%;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item {
  background: #ff3300;
  height: 121px;
  width: 119px;
  text-align: center;
  color: #ff3300;
  font-size: 40px;
  font-family: sans-serif, arial;
  border-radius: 100%;
  margin: 8px;
}
.blue {
  color: #3f7abe;
}
